body,
html {
	height: 100%;
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	padding: 20px;
}

form {
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 300px;
	margin-bottom: 20px;
}

label {
	margin-bottom: 10px;
	display: block;
}

input[type='text'],
input[type='number'],
input[type='submit'] {
	width: 100%;
	padding: 8px;
	margin-top: 6px;
	margin-bottom: 16px;
	box-sizing: border-box;
}

.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
}

.card {
	background: white;
	margin: 10px;
	width: 250px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 15px;
	padding-bottom: 3px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.card h3 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 2px; /* Espacio debajo del título */
}

.card .pages {
	font-size: 0.8rem;
	float: right;
	color: #666; /* Color gris para el texto de las páginas */
}

p {
	margin-top: 0;
}
